
.shop-container {
    margin-left: 1rem;
    margin-right: 1rem;
}

.title, .tags-container, .options {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.options {
    justify-content: space-between;
}

h2 {
    margin-right: 10px;
}

.tag-name {
    font-weight: bold;
}

@media screen and (max-width: 1100px) {
    .mobile-hide-tags-and-sorters {
        display: none !important;
    }
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card-width));
    column-gap: 1rem;
    row-gap: 2rem;
    justify-content: space-between;
    margin-top: 2rem;
}
