@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

/* global-variables */

:root {
  --card-width: 262px;
  --card-image-height: 349px;
  --light-grey: #878787;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}